<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297427973883-fec9edsn0vb8hq503ik1pl7cssmnot1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297427973883-fec9edsn0vb8hq503ik1pl7cssmnot1c</string>
	<key>API_KEY</key>
	<string>AIzaSyCCkfSZECWKEtP2J-MtvNqWq6Q7z9YuuDg</string>
	<key>GCM_SENDER_ID</key>
	<string>297427973883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omnisaude.mediconahora</string>
	<key>PROJECT_ID</key>
	<string>operadora-omnisaude-co</string>
	<key>STORAGE_BUCKET</key>
	<string>operadora-omnisaude-co.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297427973883:ios:8b3a2dafd1dcde119a625e</string>
	<key>DATABASE_URL</key>
	<string>https://operadora-omnisaude-co.firebaseio.com</string>
</dict>
</plist>